body{
   background-color: #dadfd3;
   font-family: "Lucida Sans Typewriter";
   
}
.container{
  padding-left:300px;
  }
  
  .mySlides {display: none;}
  .img-slide {vertical-align: middle;
  filter: blur(8px);}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 120px;
    width: 100%;
    text-align: center;
  }
  
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .row{
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 30%;
}
.column{
    width: 50%;
    float: left;
    
    
}
.cards {
    background-color: white;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 30px;
transition: 0.3s;

height: 300px;
width: 90%;
padding: 1%;
}
h1{
    text-align: center;
    color: black;
}

.card-container {
padding: 2px;
font-size: 15px;
}