body{
    background-color: #dadfd3;
    font-family: "Lucida Sans Typewriter";
    
 }
.heading-image{
    padding-top: 20px;
    text-align: center;
    text-transform:uppercase ;
    font-size: 40px;
    height: 100px;
    background: url("1.jfif");
    background-repeat: no-repeat;
    background-size: 1100px 1500px;
    color: #2a2b2b;
}
.control-label{
    padding-top: 10px;
    text-align: center;
    text-transform:uppercase ;
    font-size: 30px;
    color: #2a2b2b;
}

button {
    background-color: #2a2b2b ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .form-check{
      padding-left: 20px;
  }
  hr.new1 {
    border-top: 2px solid #2a2b2b ;
  }
  .column{
      float: left;
      width: 33%;
  }