{% extends "navbars.html" %}
{%block content %}

<html>
    <head>
        <title>Services</title>
        <link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <h1>Our team</h1>
            </div>
            <div class="slideshow-container">
    
                <div class="mySlides fade">
                  <img class="img-slide" src="{{url_for('static',filename='amreen.png')}}" style="width:80%">
                </div>
                
                <div class="mySlides fade">
                  <img class="img-slide" src="{{url_for('static',filename='vaishnav.png')}}" style="width:80%">
                </div>
                
                <div class="mySlides fade">
                  <img class="img-slide" src="{{url_for('static',filename='aparna.png')}}" style="width:80%">
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
              </div>
        </div>
        <script>
            let slideIndex = 0;
            showSlides();
            
            function showSlides() {
              let i;
              let slides = document.getElementsByClassName("mySlides");
              let dots = document.getElementsByClassName("dot");
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
              slideIndex++;
              if (slideIndex > slides.length) {slideIndex = 1}    
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
              setTimeout(showSlides, 3000); // Change image every 2 seconds
            }
            </script>
    </body>
</html>
{% endblock %}