<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='sidebars.css')}}">
        <title>

        </title>
    </head>
    <body>
        <div className='Sidebar'>
            <div className='menus'>
            <ul className='courses'>
            <li >Recommended couser</li>
            <li>Recommended couser</li>
            <li >Recommended couser</li>
            <li >Your learning</li>
            </ul>
        </div>
        
            <br/>
           
        </div>
    </body>
</html>